.balls {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width:50px;
  display: inline-block;
  margin: auto;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.navbar-button {
  height: fit-content;
  width: fit-content;
  padding: 0;
}
