.balls {
  border-radius: 50%;
  border: 2px solid black;
  height: 75px;
  width: 75px;
  display: inline-block;
  margin:auto;
  text-align: center;
  vertical-align:top;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

